@import "../../../styles/core.scss";

.full {
    @include media(phone) {
        display: none !important;
    }
}

.mobile {
    @include media(tablet) {
        display: none !important;
    }
    @include media(pc) {
        display: none !important;
    }
}
